.recipe-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 68vh;
    padding: 30px;
}

@media screen and (max-width: 1200px) {
    .recipe-grid {
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
    }
}
  
@media screen and (max-width: 770px) {
    .recipe-grid {
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    }
}
  
@media screen and (max-width: 420px) {
    .recipe-grid {
        grid-template-columns: 1fr;
        justify-content: center;
        padding: 0px;
    }
}